In [2]:
import pandas as pd

In [113]:
attorneys = pd.read_csv("attorneys.csv")
ate = pd.read_csv("attorneytimeentries.csv")
category = pd.read_csv("categories.csv")
clients = pd.read_csv("clients.csv")
questions = pd.read_csv("questions.csv")
qp = pd.read_csv("questionposts1.csv")
statesites = pd.read_csv("statesites.csv")
subcategories = pd.read_csv("subcategories.csv")

In [25]:
attorneys.head()

,Id,StateAbbr,AttorneyUno,City,County,StateName,PostalCode,CreatedUtc
0,1,NH,7A2C12BE-9F37-4C9D-A6ED-41B916820CE0,Concord,Cheshire,New Hampshire,3301,2019-02-14 16:21:52
1,2,NH,29A49AA6-047E-4008-ABBD-3DE57156B526,Concord,Merrimack,New Hampshire,3229,2019-02-14 18:14:30
2,3,MS,9DF11B65-7F29-452C-A69E-54CD72E4A116,Jackson,Rankin,Mississippi,39203,2016-08-19 17:07:23
3,4,VA,693FD55F-5F58-405A-B389-5E78B3406497,Richmond,Richmond (city),Virginia,23219,2016-08-19 18:22:53
4,5,CT,0AC2A866-19CD-4D1A-94B7-BF41A1430553,Wethersfield,Hartford,Connecticut,6410,2016-08-21 01:21:13

In [26]:
ate.head()

,Id,StateAbbr,TimeEntryUno,AttorneyUno,Hours,EnteredOnUtc
0,1,AK,44954D1D-C354-41F6-8C33-327E866B6BA3,C126C566-9039-4991-BDD8-0CDD05C27DDF,1.8,2017-01-05 21:25:23
1,2,AL,F1D8F733-1BDB-47FD-BC7C-CB512E2C5A3A,F8C0E3D3-B3A5-42B9-9E2F-2A637BA83D6E,0.4,2020-03-24 01:10:56
2,3,AR,81ED2628-2FF4-4B67-86B1-F9DFEC603C15,34BFCC3D-B107-4164-B405-DEFF63A65B2D,0.4,2016-12-02 23:21:46
3,4,AZ,14B1BCC4-CEF6-4108-AB54-3CDE482845F0,875DB0F4-619B-4A13-8104-85A3C15D90C4,0.8,2015-12-16 20:32:55
4,5,CA,41275A72-CD69-4A42-85FB-E3E4FEE0C316,22746734-D076-4AC8-BA66-50426C01093C,3.0,2020-09-04 00:02:54

In [27]:
category.head()

,Id,StateAbbr,CategoryUno,Category
0,1,AK,4CB7A73E-AAB0-4E8F-94D1-8AC8610AAC64,Consumer Financial Questions
1,2,AL,08C7C59B-6AAE-4BC1-83FE-BC85F1544260,Consumer Financial Questions
2,3,AR,FD5059F7-DE7A-4929-8D67-E72C80773BAD,Consumer Financial Questions
3,4,AZ,D90F1BC7-CD04-409A-9AF7-D4DAB649425A,Consumer Financial Questions
4,5,CA,FD678F86-62B1-4EC4-A628-98AEE7BC74D5,Consumer Financial Questions

In [28]:
clients.head()

,Id,StateAbbr,ClientUno,County,StateName,PostalCode,EthnicIdentity,Age,Gender,MaritalStatus,Veteran,Imprisoned,NumberInHousehold,AnnualIncome,AllowedIncome,CheckingBalance,SavingsBalance,InvestmentsBalance,CreatedUtc
0,1,MS,B731DA7A-A97A-4A2E-BF11-0A126A05AF70,Washington,Mississippi,73179.0,NaN,NaN,NaN,NaN,NaN,No,3.0,26000.0,37190.0,300.0,NaN,NaN,2016-08-25 15:15:37
1,2,MS,8101DB7C-0CC8-4DE9-9E87-71137269AAD5,Harrison,Mississippi,39560.0,Caucasian,NaN,Male,Divorced or Widowed,NaN,No,2.0,52.0,25390.0,1.0,1.0,NaN,2016-08-26 00:55:17
2,3,GA,DD5F1EFC-8298-457F-BC09-CABBEB57A697,Barrow,Georgia,30157.0,Latino or Hispanic,55.0,Male,Single,NaN,No,5.0,3000.0,60790.0,NaN,NaN,NaN,2016-10-12 14:37:06
3,4,TX,21DC9E3D-D0AA-4B85-88BB-428F5BCF7F13,Lubbock,Texas,79416.0,Other,61.0,Female,Married / remarried,No,No,4.0,15600.0,48990.0,100.0,NaN,NaN,2017-01-01 19:57:07
4,5,ID,3782D4F9-9B16-4BC8-ADA3-F85CEE200630,Boise,Idaho,83705.0,Caucasian,65.0,Male,Single,No,No,1.0,15000.0,13590.0,580.0,25.0,NaN,2017-02-23 00:03:27

In [29]:
questions.head()

,Id,StateAbbr,QuestionUno,CategoryUno,Category,SubcategoryUno,Subcategory,AskedByClientUno,AskedOnUtc,TakenByAttorneyUno,TakenOnUtc,ClosedByAttorneyUno,ClosedOnUtc,LegalDeadline
0,1,NC,BB53B2A4-7C1B-45C3-9693-62047889317D,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,9C35423C-914A-42BC-8EBC-A370E76E2178,2019-06-19 22:10:06,NaN,NaN,NaN,2019-08-13 15:09:06,2019-07-08 00:00:00
1,2,NC,0C49F841-2782-4313-961E-7882B96D0854,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:34:36,NaN,NaN,NaN,2019-08-13 15:09:14,NaN
2,3,NC,BFC28E08-B6B1-4185-A91A-89DF90816BE4,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:57:18,FA34142B-1575-4720-981C-2D28C3560137,2019-06-22 02:37:16,FA34142B-1575-4720-981C-2D28C3560137,2019-06-24 19:02:35,NaN
3,4,NC,45B24109-243A-489B-B0D2-2F36C2A369FE,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,C9C3FA40-0D60-49B9-97F1-63AFEFAFA484,2019-06-20 02:33:14,FA34142B-1575-4720-981C-2D28C3560137,2019-07-27 18:04:08,FA34142B-1575-4720-981C-2D28C3560137,2019-07-31 05:49:18,NaN
4,5,NC,C4707F71-FE4A-4154-8174-AF00BEE2B361,F6016FBD-9501-4448-BCD3-BBB0E834E33B,Consumer Financial Questions,73FE486E-2B51-456A-A6D9-78A7D05802AA,"Bankruptcy, Debts & Purchases",ED7DEA10-CDB7-4A05-891D-889D1EA710BE,2019-06-20 17:04:47,NaN,NaN,NaN,2019-08-13 15:09:20,NaN

In [30]:
qp.head()

,Id,StateAbbr,QuestionUno,PostText,CreatedUtc
0,1,AK,B7C95D50-6C81-4E61-BC16-81077B7D3F7E,Do you still need help with this issue? It ha...,2018-04-25 18:09:30
1,2,AK,C579CE49-6B7A-44E7-A203-5D3E52623804,Anyone?,2018-04-17 21:15:28
2,3,AK,F3A78AD3-D3D4-447F-BEAF-F62F1D1D4CCE,"Yes, those are the right forms. I'm sorry, I ...",2018-04-18 17:51:41
3,4,AK,5F8506D3-D9F1-48EE-8081-D30259DBF4E8,"Hi ###,You do make some good points. The diff...",2018-04-18 22:15:44
4,5,AK,B4C814C9-8983-413F-8BC4-F2BE01665555,My father passed away and I have DNA test resu...,2018-04-12 10:52:50

In [31]:
statesites.head()

,Id,StateAbbr,StateName,AllowedAssets,BaseIncomeLimit,PerHouseholdMemberIncomeLimit,IncomeMultiplier
0,1,AL,Alabama,10000,13590,4720,2.5
1,2,AR,Arkansas,10000,13590,4720,2.5
2,3,AZ,Arizona,10000,13590,4720,2.5
3,4,CA,California,10000,13590,4720,4.0
4,5,CT,Connecticut,10000,13590,4720,2.5

In [32]:
subcategories.head()

,Id,StateAbbr,CategoryUno,SubcategoryUno,Subcategory
0,1,AK,2D43B4FD-FAC8-47C3-A891-085F5D74D64B,546C6AD6-4D2B-4B1D-B09F-8016C5B02D66,COVID-19-Housing
1,2,AK,2D43B4FD-FAC8-47C3-A891-085F5D74D64B,572148E8-96C7-4B74-8280-B749191C5B4C,COVID-19-Insurance
2,3,AK,2D43B4FD-FAC8-47C3-A891-085F5D74D64B,5AA5088E-3A9D-4D99-B6FE-69122C34194A,COVID-19-Lost Documents
3,4,AK,D3504F18-AC99-408B-B1D2-230DC130F9EC,E5DF5CEB-649F-47B3-B665-1BEB3EA4AD42,Emancipation and Delinquency
4,5,AK,BF144F3C-5743-47C5-9EEB-418FF0FAF0D8,16E4350E-BC59-40B7-BF72-0BC225ECA4D1,Immigration

In [127]:
print(len(questions),len(qp),len(clients))

202879 384798 331426

In [163]:
merged = pd.merge(questions, qp, on = 'QuestionUno', how = 'inner') 
merged = merged.drop(['Id_x','Id_y','StateAbbr_y'], axis=1)

In [164]:
len(merged)

199943

In [135]:
merged.head()

,StateAbbr_x,QuestionUno,CategoryUno,Category,SubcategoryUno,Subcategory,AskedByClientUno,AskedOnUtc,TakenByAttorneyUno,TakenOnUtc,ClosedByAttorneyUno,ClosedOnUtc,LegalDeadline,PostText,CreatedUtc
0,NC,BB53B2A4-7C1B-45C3-9693-62047889317D,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,9C35423C-914A-42BC-8EBC-A370E76E2178,2019-06-19 22:10:06,NaN,NaN,NaN,2019-08-13 15:09:06,2019-07-08 00:00:00,"I called the clerks office, they keep saying d...",2019-06-19 22:10:36
1,NC,0C49F841-2782-4313-961E-7882B96D0854,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:34:36,NaN,NaN,NaN,2019-08-13 15:09:14,NaN,I rent a LIHTC apt. with lease rule; Section #...,2019-06-19 23:35:36
2,NC,BFC28E08-B6B1-4185-A91A-89DF90816BE4,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:57:18,FA34142B-1575-4720-981C-2D28C3560137,2019-06-22 02:37:16,FA34142B-1575-4720-981C-2D28C3560137,2019-06-24 19:02:35,NaN,My apt. leases states no trash or trash can is...,2019-06-19 23:57:36
3,NC,BFC28E08-B6B1-4185-A91A-89DF90816BE4,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:57:18,FA34142B-1575-4720-981C-2D28C3560137,2019-06-22 02:37:16,FA34142B-1575-4720-981C-2D28C3560137,2019-06-24 19:02:35,NaN,Mr. ###:Thank you for your question; you are n...,"so like you said, the apartment fronts are fa..."
4,NC,45B24109-243A-489B-B0D2-2F36C2A369FE,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,C9C3FA40-0D60-49B9-97F1-63AFEFAFA484,2019-06-20 02:33:14,FA34142B-1575-4720-981C-2D28C3560137,2019-07-27 18:04:08,FA34142B-1575-4720-981C-2D28C3560137,2019-07-31 05:49:18,NaN,Due to my husband physically and finance abuse...,2019-06-20 02:33:39

In [144]:
merged = pd.merge(merged, clients, on = 'CreatedUtc', how = 'inner').drop_duplicates()

In [145]:
len(merged)

874

In [146]:
merged.head()

,StateAbbr_x,QuestionUno,CategoryUno,Category,SubcategoryUno,Subcategory,AskedByClientUno,AskedOnUtc,TakenByAttorneyUno,TakenOnUtc,...,Gender,MaritalStatus,Veteran,Imprisoned,NumberInHousehold,AnnualIncome,AllowedIncome,CheckingBalance,SavingsBalance,InvestmentsBalance
0,NC,11D1D093-A9B1-4FF3-8162-C5F3F3EEB733,A56CA695-DA51-419F-87CF-228B360F2E9B,Housing and Homelessness,F4BB9A8A-D699-48FD-A6E7-58FB95CC4021,Housing/Eviction/Foreclosure/Tenants,0E4D02C7-C83C-4FF3-9734-9D7FDD448EA9,2019-08-05 17:22:38,3431BD06-C607-4541-934B-3EBAA71BDBBA,2019-08-05 18:42:18,...,NaN,NaN,NaN,No,2.0,40000.0,25390.0,NaN,NaN,NaN
1,NC,125B71A6-614A-4127-873C-9AE0865D4F1C,E6F4FD7C-FCE9-4763-AADD-0544158DE0BB,Other,E3257971-6837-4BAD-B00D-E4040F0C8B8A,Civil Procedure,E2E8CB1C-0596-4499-930E-49E6FA10D352,2019-08-08 18:11:05,BE3C845E-8A26-4B9E-92FB-D4C2845CECDC,2019-08-13 17:24:05,...,NaN,NaN,NaN,No,4.0,3000.0,70230.0,NaN,NaN,NaN
2,NC,FD079CE2-B57C-4F32-9E64-7A6939AB2C18,F6016FBD-9501-4448-BCD3-BBB0E834E33B,Consumer Financial Questions,73FE486E-2B51-456A-A6D9-78A7D05802AA,"Bankruptcy, Debts & Purchases",5828D8C6-6615-4E62-974B-BAD85986B9CB,2019-08-27 15:28:42,54BDCA82-7A5F-40AB-8049-EEA657119548,2019-08-27 17:10:32,...,Female,Single,No,No,1.0,10.0,13590.0,NaN,NaN,NaN
3,NC,5511908A-3363-48B2-AB60-53098FFDE774,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,78B039E3-2472-4348-980E-DF02C2D6FD78,2019-12-02 13:48:23,1A32797F-04DB-4813-92A5-D68CE17A09EF,2019-12-03 19:49:27,...,Male,Married / remarried,No,No,4.0,50000.0,70230.0,10000.00,NaN,NaN
4,NC,3B3A5FC0-C4AB-4F5C-8C6D-B3B4F204CFA9,F6016FBD-9501-4448-BCD3-BBB0E834E33B,Consumer Financial Questions,73FE486E-2B51-456A-A6D9-78A7D05802AA,"Bankruptcy, Debts & Purchases",B199981E-83C3-4CCD-A7BC-1F390EB421D1,2019-12-09 20:28:58,1A32797F-04DB-4813-92A5-D68CE17A09EF,2019-12-11 19:47:45,...,Male,Married / remarried,Yes,No,4.0,12575.0,70230.0,754.25,57.0,NaN

In [149]:
attorney = pd.merge(attorneys, ate, on = 'AttorneyUno', how = 'inner')
attorney = attorney.drop(['Id_x','Id_y','StateAbbr_y'], axis=1)

In [150]:
len(attorney)

114613

In [151]:
attorney.head()

,StateAbbr_x,AttorneyUno,City,County,StateName,PostalCode,CreatedUtc,TimeEntryUno,Hours,EnteredOnUtc
0,NH,7A2C12BE-9F37-4C9D-A6ED-41B916820CE0,Concord,Cheshire,New Hampshire,3301,2019-02-14 16:21:52,99A016C4-9366-4248-81E6-80ACB523E949,0.3,2019-06-05 20:06:31
1,NH,7A2C12BE-9F37-4C9D-A6ED-41B916820CE0,Concord,Cheshire,New Hampshire,3301,2019-02-14 16:21:52,C4FC3BDD-49CA-4F33-B962-9171B317F03A,0.7,2019-09-10 21:20:12
2,NH,7A2C12BE-9F37-4C9D-A6ED-41B916820CE0,Concord,Cheshire,New Hampshire,3301,2019-02-14 16:21:52,DBAED64A-D36A-4484-8D7E-3878E7622D97,0.3,2020-06-01 17:36:36
3,NH,7A2C12BE-9F37-4C9D-A6ED-41B916820CE0,Concord,Cheshire,New Hampshire,3301,2019-02-14 16:21:52,69988B81-B529-44F6-BFAE-142958AD1B23,0.9,2020-06-01 22:04:02
4,LA,231AB5DE-6431-4BAE-BAC3-0E453BFD7062,Covington,St. Tammany Parish,Louisiana,70433,2016-08-16 19:45:15,45EECA91-D6F1-4B79-8833-11008C8EC7C9,0.3,2016-09-17 02:12:28

In [122]:
print(len(category), len(subcategories))

430 966

In [157]:
categorys = pd.merge(category, subcategories, on = 'CategoryUno', how = 'inner').drop_duplicates()
categorys = categorys.drop(['Id_x','Id_y','StateAbbr_y'], axis = 1)

In [158]:
len(categorys)

966

In [159]:
categorys.head()

,StateAbbr_x,CategoryUno,Category,SubcategoryUno,Subcategory
0,AK,4CB7A73E-AAB0-4E8F-94D1-8AC8610AAC64,Consumer Financial Questions,6B6B9BFF-347C-4B05-9188-524EC83E4378,Debts & Purchases
1,AK,4CB7A73E-AAB0-4E8F-94D1-8AC8610AAC64,Consumer Financial Questions,23E00BA1-EBE5-4CCD-8C0B-3F4BD3A646FB,Natural Disaster
2,AK,4CB7A73E-AAB0-4E8F-94D1-8AC8610AAC64,Consumer Financial Questions,6F851DA6-89BF-4079-AB16-5E6AF153BFE7,COVID-19-Consumer
3,AL,08C7C59B-6AAE-4BC1-83FE-BC85F1544260,Consumer Financial Questions,5E854A31-13B2-4E24-9780-B011509E6E18,Debts & Purchases
4,AL,08C7C59B-6AAE-4BC1-83FE-BC85F1544260,Consumer Financial Questions,FE776D45-BF19-44E2-892C-95CA50D1FF6F,Natural Disaster